@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');


:root {
  --label1-font-size: 117px;
  --heading1-font-size: 78px;
  --heading2-font-size: 55px;
  --heading3-font-size: 24px;
  --heading4-font-size: 18px;
  --heading5-font-size: 16px;
  --body1-font-size: 18px;
  --body2-font-size: 16px;
  --overline-font-size: 16px;
  --button-font-size: 18px;

  --label1-font-weight: Regular;
  --heading1-font-weight: Bold;
  --heading2-font-weight: Bold;
  --heading3-font-weight: Bold;
  --heading4-font-weight: Bold;
  --heading5-font-weight: Bold;
  --body1-font-weight: Regular;
  --body2-font-weight: Regular;
  --overline-font-weight: Bold;
  --button-font-weight: Bold;

  font-family: "Sen", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-base: #000000;
  --color-level1: #181823;
  --color-light-grey: #8491A0;
  --color-dark-grey: #5B6876;
  --color-text: #ffffff;
  --color-primary: #5221e6;
  --color-blue-accent: #609BFF;
  --color-green-accent: #3CC74E;
  --color-pink-accent: #E95D90;
  --color-peach-accent: #FFF3E4;
  --color-violet-accent: #FBE4FF;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Defaul style */

.Label1{
  font-size: var(--label1-font-size);
  font-weight: var(--label1-font-weight);
  line-height: 0.5;
}

.Heading1{
  font-size: var(--heading1-font-size);
  font-weight: var(--heading1-font-weight);
  line-height: 0.5;
}

.Heading2{
  font-size: var(--heading2-font-size);
  font-weight: var(--heading2-font-weight);
  line-height: 1;
}

.Heading3{
  font-size: var(--heading3-font-size);
  font-weight: var(--heading3-font-weight);
  line-height: 1;
}

.Heading4{
  font-size: var(--heading4-font-size);
  font-weight: var(--heading4-font-weight);
  line-height: 0.5;
}

.Heading5{
  font-size: var(--heading5-font-size);
  font-weight: var(--heading5-font-weight);
  line-height: 0.5;
}

.Body1{
  font-size: var(--body1-font-size);
  font-weight: var(--body1-font-weight);
  line-height: 0.5;
}

.Body2{
  font-size: var(--body2-font-size);
  font-weight: var(--body2-font-weight);
}

.Overline{
  font-size: var(--overline-font-size);
  font-weight: var(--overline-font-weight);
  line-height: 0.5;
}

.Button{
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 0.5;
}

.Hover {
  background: var(--color-dark-grey);
}

.Active {
  background: var(--color-primary);
}

.Gray {
  color: var(--color-dark-grey)
}

.Green{
  color: var(--color-green-accent);
}

.Blue{
  color: var(--color-blue-accent);
}

.Pink{
  color: var(--color-pink-accent);
}

.Light-Grey{
  color: var(--color-light-grey);
}

/* Defaul style */

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  max-width: 100vw;
  height: 100vh;
}

/* ---- Navbar ---- */
.Navbar {
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 4rem 0rem 4rem;
  z-index: 104;
}

.Navbar-Main,
.Navbar-Second {
  align-content: center;
}

.Navbar-Main-Link {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--heading3-font-weight);
  font-size: var(--heading3-font-size);
}

.Navbar-Second-List {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}

.Navbar-Second-List-Item {
  height: 100%;
  background-color: var(--color-level1);
  z-index: 103;
}

.Navbar-Second-List-Item:hover {
  background: var(--color-light-grey);
}

.Navbar-Second-List-Link {
  display: block;
  padding: 2.5rem 2rem 2.5rem 2rem;
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-level1);
  transition: background-color 0.5s ease-in;
}

.Navbar-Second-List-Link:hover {
  background-color: var(--color-dark-grey);
}

/* Main */

main {
  height: 100%;
  max-width: 100vw;
}

.HeroSection {
  display: flex;
  position: relative;
  min-height: 814px;
  justify-content: center;
}

.HeroSection-Picture {
  position: absolute;
  left: 5%;
  z-index: 101;
}

.HeroSection-Text {
  position: absolute;
  left: 50%;
  top: 15%;
  z-index: 102;
}

.HeroSection::after{
    content: "";
    position: absolute;
    z-index: 100;
    top: -110px;
    bottom: 13%;
    left: 38%;
    right: 0;
    background-color: var(--color-level1);
}

.WorkExperience{
  padding: 4rem;
  max-width: 100vw;
}

.WorkExperience p{
  max-width: 60%;
}

.WorkExperience-List{
  display: flex;
  flex-direction: row;
  gap:6rem;
}

.WorkExperience-List p{
  max-width: 100%;
}

.WorkExperience-List-Item{
  max-width: 30%;
}



