@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');


:root {
  --label1-font-size: 117px;
  --heading1-font-size: 78px;
  --heading2-font-size: 55px;
  --heading3-font-size: 24px;
  --heading4-font-size: 18px;
  --heading5-font-size: 16px;
  --body1-font-size: 18px;
  --body2-font-size: 16px;
  --overline-font-size: 16px;
  --button-font-size: 18px;

  --label1-font-weight: Regular;
  --heading1-font-weight: Bold;
  --heading2-font-weight: Bold;
  --heading3-font-weight: Bold;
  --heading4-font-weight: Bold;
  --heading5-font-weight: Bold;
  --body1-font-weight: Regular;
  --body2-font-weight: Regular;
  --overline-font-weight: Bold;
  --button-font-weight: Bold;

  font-family: "Sen", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-base: #000000;
  --color-level1: #181823;
  --color-light-grey: #8491A0;
  --color-dark-grey: #5B6876;
  --color-text: #ffffff;
  --color-primary: #5221e6;
  --color-blue-accent: #609BFF;
  --color-green-accent: #3CC74E;
  --color-pink-accent: #E95D90;
  --color-peach-accent: #FFF3E4;
  --color-violet-accent: #FBE4FF;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Defaul style */

.Label1 {
  font-size: var(--label1-font-size);
  font-weight: var(--label1-font-weight);
  line-height: 1.2;
  margin-top: 0;
}

.Heading1 {
  font-size: var(--heading1-font-size);
  font-weight: var(--heading1-font-weight);
  line-height: 1.1;
  margin-top: 0;
}

.Heading2 {
  font-size: var(--heading2-font-size);
  font-weight: var(--heading2-font-weight);
  line-height: 1.2;
  margin-top: 0;
}

.Heading3 {
  font-size: var(--heading3-font-size);
  font-weight: var(--heading3-font-weight);
  line-height: 1.3;
  margin-top: 0;
}

.Heading4 {
  font-size: var(--heading4-font-size);
  font-weight: var(--heading4-font-weight);
  line-height: 1.4;
  margin-top: 0;
}

.Heading5 {
  font-size: var(--heading5-font-size);
  font-weight: var(--heading5-font-weight);
  line-height: 1;
  margin-top: 0;
}

.Body1 {
  font-size: var(--body1-font-size);
  font-weight: var(--body1-font-weight);
  line-height: 1.6;
  margin-top: 0;
}

.Body2 {
  font-size: var(--body2-font-size);
  font-weight: var(--body2-font-weight);
  line-height: 1.6;
  margin-top: 0;
}

.Overline {
  font-size: var(--overline-font-size);
  font-weight: var(--overline-font-weight);
  line-height: 0.5;
  margin-top: 0;
}

.Button {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 0.5;
  margin-top: 0;
}

.Hover {
  background: var(--color-dark-grey);
}

.Active {
  background: var(--color-primary);
}

.Gray {
  color: var(--color-dark-grey)
}

.Green {
  color: var(--color-green-accent);
}

.Blue {
  color: var(--color-blue-accent);
}

.Pink {
  color: var(--color-pink-accent);
}

.Light-Grey {
  color: var(--color-light-grey);
}

.White {
  color: white;
}

.Level1 {
  color: var(--color-level1);
}

* ::before ::after {
  box-sizing: border-box;
}


[class*=__Container] {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Defaul style */

#root,
.App {
  width: 100%;
  min-height: 100vh;
}

/* ---- Navbar ---- */

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;

  transition: background-color 0.5s ease-in;
}

.Navbar__Container {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
}

.Navbar-Main,
.Navbar-Second {
  align-content: center;
}

.Navbar-Main-Link {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--heading3-font-weight);
  font-size: var(--heading3-font-size);
}

.Navbar-Second-List {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}

.Navbar-Second-List-Item {
  height: 100%;
  background-color: var(--color-level1);
  z-index: 103;
}

.Navbar-Second-List-Item:hover {
  background: var(--color-light-grey);
}

.Navbar-Second-List-Link {
  display: block;
  padding: 33px 35px 33px 35px;
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-level1);
  transition: background-color 0.5s ease-in;
}

.Navbar-Second-List-Link:hover {
  background-color: var(--color-dark-grey);
}

.Navbar--Scrolled,
.Navbar-Main--Scrolled,
.Navbar-Second--Scrolled,
.Navbar-Second-List-Link--Scrolled {
  background-color: var(--color-base);
}

.Navbar-Second-List-Link--Active{
  background-color: var(--color-primary);
}

/* Main */

main {
  max-width: 100vw;
}

.HeroSection {
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: var(--color-base);
}

.Hero {
  position: relative;
}

.HeroSection-Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.HeroSection-Picture {
  position: relative;
  flex: 0 1 750px;
  transform: translateX(44px);
  z-index: 101;
}

.HeroSection-Text {
  flex: 0 0 738px;
  z-index: 103;
  transform: translateX(-44px);
}

.Hero::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -90px;
  bottom: 0;
  left: 38%;
  right: 0;
  background-color: var(--color-level1);
}

.WorkExperience {
  padding: 4rem 3rem;
  max-width: 100vw;
}

.WorkExperience p {
  max-width: 60%;
}

.WorkExperience-List {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.WorkExperience-List p {
  max-width: 100%;
}

.WorkExperience-List-Item {
  max-width: 30%;
}

.ValueSection {
  max-width: 100vw;
  background: var(--color-peach-accent);
}

.ValueSection__Container {
  max-width: 1440px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ValueSection-Text {
  padding: 80px 40px;
}

.ValueSection-Text p{
  margin-top: 40px;
}

.ValueSection-Text a {
  display: inline-block;
  margin-top: 7rem;
  padding-bottom: 4px;
  text-decoration: underline;
}

.ValueSection-Text a::before {
  content: "More about me";
}

.ValueSection a:hover {
  cursor: pointer;
}

.ValueSection-Picture {
  display: block;
}

.ValueSection-Picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SkillSet {
  padding: 4rem 0rem;

}

.SkillSet__Container {
  display: flex;
  gap: 4rem;
}

.SkillSet-Text {
  width: 50%;
}

.SkillSet-Grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.SkillSet-Grid-Item {
  padding: 2rem;
  max-width: 80%;
  transition: transform 0.3s linear;
}

.SkillSet-Grid-Item:hover{
  transform: scale(1.01);
}

.Swiper-Wrapper {
  justify-self: center;
  max-width: fit-content;
}

.CompaniesLine {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-sizing: border-box;
}

.CompaniesLine-Item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 3rem;
  border: 1px solid var(--color-level1);
}

.MyProjects {
  padding: 4rem 0rem;
}

.MyProjects-Items {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.MyProjects-List-Item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 636px;
}

.MyProjects-List-Item-Card,
h4,
h2 {
  margin: 0;
}

.MyProjects-List-Item-Card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s linear;
}

.MyProjects-List-Item-Card:hover {
  transform: scale(0.99);
}

.MyProjects-List-Item-Card-Picture {
  width: 100%;
  height: 620px;

  display: block;
  object-fit: cover;
}

.MyProjects-List-Item-Card-Description {
  background-color: var(--color-level1);
}