@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');


:root {
  --label1-font-size: 117px;
  --heading1-font-size: 78px;
  --heading2-font-size: 55px;
  --heading3-font-size: 24px;
  --heading4-font-size: 18px;
  --heading5-font-size: 16px;
  --body1-font-size: 18px;
  --body2-font-size: 16px;
  --overline-font-size: 16px;
  --button-font-size: 18px;

  --label1-font-weight: Regular;
  --heading1-font-weight: Bold;
  --heading2-font-weight: Bold;
  --heading3-font-weight: Bold;
  --heading4-font-weight: Bold;
  --heading5-font-weight: Bold;
  --body1-font-weight: Regular;
  --body2-font-weight: Regular;
  --overline-font-weight: Bold;
  --button-font-weight: Bold;

  font-family: "Sen", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-base: #000000;
  --color-level1: #181823;
  --color-light-grey: #8491A0;
  --color-dark-grey: #5B6876;
  --color-text: #ffffff;
  --color-primary: #5221e6;
  --color-blue-accent: #609BFF;
  --color-green-accent: #3CC74E;
  --color-pink-accent: #E95D90;
  --color-peach-accent: #FFF3E4;
  --color-violet-accent: #FBE4FF;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Defaul style */

.Label1 {
  font-size: var(--label1-font-size);
  font-weight: var(--label1-font-weight);
  line-height: 1.2;
  margin-top: 0;
}

.Heading1 {
  font-size: var(--heading1-font-size);
  font-weight: var(--heading1-font-weight);
  line-height: 1.1;
  margin-top: 0;
}

.Heading2 {
  font-size: var(--heading2-font-size);
  font-weight: var(--heading2-font-weight);
  line-height: 1.2;
  margin-top: 0;
}

.Heading3 {
  font-size: var(--heading3-font-size);
  font-weight: var(--heading3-font-weight);
  line-height: 1.3;
  margin-top: 0;
}

.Heading4 {
  font-size: var(--heading4-font-size);
  font-weight: var(--heading4-font-weight);
  line-height: 1.4;
  margin-top: 0;
}

.Heading5 {
  font-size: var(--heading5-font-size);
  font-weight: var(--heading5-font-weight);
  line-height: 1;
  margin-top: 0;
}

.Body1 {
  font-size: var(--body1-font-size);
  font-weight: var(--body1-font-weight);
  line-height: 1.6;
  margin-top: 0;
}

.Body2 {
  font-size: var(--body2-font-size);
  font-weight: var(--body2-font-weight);
  line-height: 1.6;
  margin-top: 0;
}

.Overline {
  font-size: var(--overline-font-size);
  font-weight: var(--overline-font-weight);
  line-height: 0.5;
  margin-top: 0;
}

.Button {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 0.5;
  margin-top: 0;
}

.Hover {
  background: var(--color-dark-grey);
}

.Active {
  background: var(--color-primary);
}

.Gray {
  color: var(--color-dark-grey)
}

.Green {
  color: var(--color-green-accent);
}

.Blue {
  color: var(--color-blue-accent);
}

.Pink {
  color: var(--color-pink-accent);
}

.Light-Grey {
  color: var(--color-light-grey);
}

.White {
  color: white;
}

.Level1 {
  color: var(--color-level1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


[class*=__Container] {
  max-width: 1380px !important;
  margin: 0 auto;
  padding: 0 40px;
}

/* Defaul style */

#root,
.App {
  width: 100%;
  min-height: 100vh;
}

/* ---- Navbar ---- */

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;

  transition: background-color 0.5s ease-in;
}

.Navbar__Container {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
}

.Navbar-Main,
.Navbar-Second {
  align-content: center;
}

.Navbar-Main-Link {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--heading3-font-weight);
  font-size: var(--heading3-font-size);
}

.Navbar-Second-List {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}

.Navbar-Second-List-Item {
  height: 100%;
  background-color: var(--color-level1);
  z-index: 103;
}

.Navbar-Second-List-Item:hover {
  background: var(--color-primary);
}

.Navbar-Second-List-Link {
  display: block;
  padding: 33px 35px 33px 35px;
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-level1);
  transition: background-color 0.5s ease-in;
}

.Navbar-Second-List-Link:hover {
  background-color: var(--color-primary);
  color: var(--color-text)
}

.Navbar--Scrolled,
.Navbar-Main--Scrolled,
.Navbar-Second--Scrolled,
.Navbar-Second-List-Link--Scrolled {
  background-color: var(--color-base);
}

.Navbar-Second-List-Link--Active {
  background-color: var(--color-primary);
}

.Navbar-Second-List-Button {
  display: none;
  position: relative;
  border: 0;
}

/* Main */

main {
  max-width: 100vw;
}

.HeroSection {
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: var(--color-base);
}

.Hero {
  position: relative;
}

.HeroSection-Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroSection-Picture {
  position: relative;
  flex: 0 1 45%;
  transform: translateX(44px);
  z-index: 101;
  overflow: hidden;
  height: 650px;
}

.HeroSection-Picture img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.HeroSection-Text {
  position: relative;
  flex: 0 0 750px;
  z-index: 103;
  transform: translateX(-44px);
}

.Hero::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -90px;
  bottom: 0;
  left: 38%;
  right: 0;
  background-color: var(--color-level1);
}

.WorkExperience {
  padding: 110px 0px;
}

.WorkExperience p {
  max-width: 50%;
}

.WorkExperience-List {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.WorkExperience-List p {
  max-width: 100%;
}

.WorkExperience-List-Item {
  max-width: 30%;
}

.ValueSection {
  max-width: 100vw;
  background: var(--color-peach-accent);
}

.ValueSection__Container {
  max-width: 1440px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ValueSection-Text {
  padding: 120px 70px;
}

.ValueSection-Text p {
  margin-top: 40px;
}

.ValueSection-Text a {
  display: inline-block;
  margin-top: 50px;
  padding-bottom: 4px;
  text-decoration: underline;
}

.ValueSection-Text a::before {
  content: "More about me";
}

.ValueSection a:hover {
  cursor: pointer;
}

.ValueSection-Picture {
  display: block;
}

.ValueSection-Picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SkillSet {
  padding: 4rem 0rem;

}

.SkillSet__Container {
  display: flex;
  gap: 4rem;
}

.SkillSet-Text {
  padding: 2rem;
  width: 50%;
}

.SkillSet-Text h2 {
  margin-bottom: 15px;
}

.SkillSet-Grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.SkillSet-Grid-Item {
  padding: 2rem;
  max-width: 80%;
  transition: transform 0.3s linear;
}

.SkillSet-Grid-Item:hover {
  transform: scale(1.01);
}

.Swiper-Wrapper {
  justify-self: center;
  max-width: fit-content;
}

.CompaniesLine {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-sizing: border-box;
}

.CompaniesLine-Item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
  border: 1px solid var(--color-level1);
}

.MyProjects {
  padding: 110px 0px;
}

.MyProjects__Container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.MyProjects-Items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.MyProjects-List-Item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.My-Projects-List-Button {
  background-color: var(--color-base);
  max-width: fit-content;
  justify-self: center;
  align-self: center;
  margin: auto 0;
  border: 1px solid var(--color-primary);
  transition: background-color 0.3s linear,
    transform 0.3s linear;
}

.My-Projects-List-Button a {
  display: block;
  color: var(--color-text);
  padding: 24px 32px;
}

.My-Projects-List-Button:hover {
  background-color: var(--color-level1);
  transform: scale(0.99);
}

.MyProjects-List-Item-Card,
h4,
h2 {
  margin: 0;
}

.MyProjects-List-Item-Card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s linear;

  max-width: 100%;
}

.MyProjects-List-Item-Card:hover {
  transform: scale(0.99);
}

.MyProjects-List-Item-Card-Picture {
  width: 100%;
  display: block;
}

.MyProjects-List-Item-Card-Picture img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.MyProjects-List-Item-Card-Description {
  background-color: var(--color-level1);
}

.MyProjects-List-Item-Card-Description h3 {
  margin: 30px;
  margin-bottom: 15px;
  max-width: inherit;
}

.MyProjects-List-Item-Card-Description p {
  margin: 30px;
  margin-top: 0;
  padding: 0;
  padding-bottom: 15px;
}

.InstagramSection {
  background-color: var(--color-violet-accent);
}

.InstagramSection__Container {
  max-width: 1440px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.InstagramSection-Text {
  padding: 120px 70px;
}

.InstagramSection-Text p {
  margin-top: 40px;
}

.InstagramSection-Text a {
  display: inline-block;
  margin-top: 50px;
  padding-bottom: 4px;
  text-decoration: underline;
}

.InstagramSection-Text a::before {
  content: "Follow me on IG";
}

.InstagramSection a:hover {
  cursor: pointer;
}

.InstagramSection-Picture {
  display: block;
}

.InstagramSection-Picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.DribleSection {
  padding: 120px 0;
  background-color: var(--color-base);
}

.DribleSection__Container {
  padding: 0 110px;
}

.DribleSection-Text {
  margin-bottom: 120px;
}

.DribleSection-Text h2 {
  margin-bottom: 30px;
}

.DribleSection-Text p {
  margin-bottom: 30px;
}

.DribleSection-Text a {
  display: inline-block;
  padding-bottom: 4px;
  text-decoration: underline;
}

.DribleSection-Text a::before {
  content: "Follow me on Dribbble";
}

.DribleSection-Text a:hover {
  cursor: pointer;
}

.DribleSection-Picture {
  border-radius: 8px;
}

.DribleSection-Picture img {
  width: 100%;
  height: 100%;
}

.ThoughtsSection {
  background-color: var(--color-base);
}

.ThoughtsSection__Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.ThoughtsSection-Text {
  grid-column: 1;
}

.ThoughtsSection-Text h2 {
  margin-bottom: 15px;
}

.ThoughtsSection-Text p {
  margin-bottom: 30px;
}

.ThoughtsSection-Text a {
  display: inline-block;
  padding-bottom: 4px;
  text-decoration: underline;
}

.ThoughtsSection-Text a::before {
  content: "See all testimonials";
}

.ThoughtsSection-Text a:hover {
  cursor: pointer;
}

.ThoughtsSection-Cards {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ThoughtsSection-Card {
  display: flex;
  flex-direction: column;
}

.ThoughtsSection-Card-Picture {
  display: block;
  width: 100%;
}

.ThoughtsSection-Card-Picture img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.ThoughtSection-Card-Text {
  border: 1px solid var(--color-dark-grey);
  border-top: none;
  padding: 60px;
}

.ThoughtSection-Card-Text h3 {
  margin-bottom: 70px;
}

.ThoughtSection-Card-Text p {
  margin: 0;
}

.ThoughtsSection-Card img {
  width: 100%;
  object-fit: fill;
}

.PhotographySection {
  background-color: var(--color-base);
  padding: 110px 0;
}

.PhotographySection__Container h2 {
  margin-bottom: 10px;
}

.PhotographySection__Container p {
  max-width: 45%;
}

.PhotographySection-Tab {
  margin-top: 60px;
}

.PhotographySection-Buttons {
  display: grid;
  max-width: fit-content;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.PhotographySection-Button {
  padding: 20px;
  opacity: 0.6;

  border-radius: 0;
  border: 1px solid var(--color-primary);
  background-color: var(--color-base);
  transition: background-color 0.2s ease-in;
}

.PhotographySection-Button--Active {
  background-color: var(--color-primary);
  opacity: 1;
}

.PhotographySection-Pictures {
  display: none;
}

.PhotographySection-Pictures--Active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 421px;
  gap: 24px;
}

.PhotographySection-Pictures-Item {
  min-height: 421px;
  display: block;
}

.PhotographySection-Pictures-Picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ContactSection {
  background-color: var(--color-base);
  padding: 110px 0;
}

.ContactSection__Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 0 110px;
  justify-self: center;
  justify-items: center;
}

.ContactSection-Text h2 {
  margin-bottom: 20px;
}

.ContactSection-Form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ContactSection-Form-Name,
.ContactSection-Form-Email,
.ContactSection-Form-Message {
  display: flex;
  flex-direction: column;
}

.Contacts-Form-Input {
  min-height: 30px;
  min-width: 500px;
  padding: 12px;
  line-height: 1.6;
  background-color: var(--color-level1);
  border: none;
}

.Message {
  min-height: 120px;
  margin-bottom: 20px;
}

.ContactSection-Form button {
  background-color: var(--color-primary);
  border-radius: 0;
  padding: 25px;
}

.Footer {
  background-color: var(--color-level1);
  padding: 30px 0px;
}

.Footer__Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Footer-MainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Footer-MainInfo-Social p {
  font-size: 30px !important;
  margin-bottom: 10px;
  margin-top: 0px;
}

.Footer-MainInfo-Social-Logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.Footer-MainInfo-Social-Logo a {
  display: flex;
  justify-items: center;
  align-items: center;
}


.Footer-MainInfo-Referals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  /* Заполнять сначала колонку, потом переходить к следующей */
  grid-template-rows: repeat(4, min-content);
  /* Создать 4 строки. После 4-го элемента начнется новая колонка */
  gap: 20px;
}

.Footer-MainInfo-Referals a {
  margin-right: 150px;
  margin-top: 10px;
  color: var(--color-text);
}

.Footer-MainInfo-Referals a:hover {
  color: var(--color-primary);
}

.Footer-MainInfo-Social p {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--heading3-font-weight);
  font-size: var(--heading3-font-size);
}

.Footer-AdditionalInfo {
  margin-top: 50px;
}

.Footer-AdditionalInfo p {
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  .Heading1 {
    font-size: var(--heading2-font-size);
  }

  .HeroSection-Picture {
    transform: translateX(0px);
    flex: 0 1 45%;
  }

  .HeroSection-Text {
    flex: 0 1 55%;
    transform: translateX(-66px);
  }
}

@media (max-width: 1380px) {
  .CompaniesLine {
    grid-template-columns: repeat(3, 1fr);
  }

  .PhotographySection-Pictures--Active {
    grid-template-columns: repeat(3, minmax(306px, 1fr));
  }

  .SkillSet__Container {
    flex-direction: column;
    gap: 0;
  }

  .SkillSet-Text {
    width: 100%;
  }


}

@media (max-width: 1180px) {

  .ContactSection-Form-Input {
    min-width: clamp(300px, 40%, 500px);
  }

  .ContactSection-Form-Email {
    min-width: clamp(300px, 40%, 500px);
  }

  .ContactSection-Form-Message {
    min-width: clamp(300px, 40%, 500px);
  }
}

@media (max-width: 1040px) {


  .PhotographySection-Pictures--Active {
    grid-template-columns: repeat(2, minmax(306px, 1fr));
  }

  .ContactSection__Container {
    padding: 0px 40px;
  }
}

@media (max-width: 768px) {
  .Heading2 {
    font-size: 32px;
  }

  .CompaniesLine {
    grid-template-columns: repeat(2, minmax(306px, 1fr));
  }

  .Navbar-Second-List {
    display: none;
  }

  .Navbar-Second-List-Button {
    display: block;
    z-index: 100;
  }

  .Navbar-Second-List--Visible {
    display: flex;
  }

  .MyProjects-Items {
    grid-template-columns: 1fr;
  }

  .SkillSet__Container {
    gap: 0;
  }

  .SkillSet-Grid {
    grid-template-columns: 1fr;
  }

  .DribleSection__Container {
    padding: 0 40px;
  }

  .ThoughtsSection__Container {
    grid-template-columns: 1fr;
  }

  .ThoughtsSection-Cards {
    grid-column: 1;
  }

  .PhotographySection-Buttons {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }

  .PhotographySection-Pictures--Active {
    grid-template-columns: repeat(1, minmax(306px, 1fr));
  }

  .ContactSection__Container {
    grid-template-columns: 1fr;
  }

  .ContactSection-Text {
    max-width: 500px;
  }
}

@media (max-width: 712px) {
  .CompaniesLine {
    grid-template-columns: repeat(1, minmax(306px, 1fr));
  }
}

@media (max-width: 460px) {
  .Swiper__Container {
    padding: 0;
  }
}

@media (max-width: 370px) {
  .CompaniesLine {
    grid-template-columns: repeat(1, 1fr);
  }
}